@font-face {
  font-family: 'corpid-regular';
  src:  url('../fonts/corpid/corpid-regular/corpid-regular.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/corpid/corpid-regular/corpid-regular.otf')  format('opentype'),
	    url('../fonts/corpid/corpid-regular/corpid-regular.woff') format('woff'),
	    url('../fonts/corpid/corpid-regular/corpid-regular.ttf')  format('truetype'),
	    url('../fonts/corpid/corpid-regular/corpid-regular.svg#corpid-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'corpid-light';
  src:  url('../fonts/corpid/corpid-light/corpid-light.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/corpid/corpid-light/corpid-light.otf')  format('opentype'),
	    url('../fonts/corpid/corpid-light/corpid-light.woff') format('woff'),
	    url('../fonts/corpid/corpid-light/corpid-light.ttf')  format('truetype'),
	    url('../fonts/corpid/corpid-light/corpid-light.svg#corpid-light') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Core variables and mixins
@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}

@import "components/layout";

.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1165px;
	// padding: 0;
	position: static;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding: 36px 0 40px;
	position: relative;
}

.page-title{
	margin-bottom: 46px;
	text-align: center;
}

.breadcrumbs__wrap{
	padding: 13px 0 20px 0;
	background: url(../img/content/br-bg-grey.jpg) left bottom repeat-x;
	font-size: 14px;
	// margin-bottom: 16px;
	border-top: 1px solid #f2f2f2;
}

.breadcrumbs__item{
	display: inline-block;
	vertical-align: middle;
	color: #919191;
}
a.breadcrumbs__item{
	color: #4c4c4c;
	&:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: 0 9px 0 14px;
		width: 6px;
		height: 9px;
		background: url(../img/svg/arrow-gr.svg) center no-repeat;
		margin-top: -2px;

	}
}




.workarea{
	line-height: 1.3;
	h1{
		margin: 0;
		margin-bottom: 20px;
		font-size: 55px;
		font-weight: normal;
		font-family: 'corpid-regular';
		line-height: 1;
	}
	h2{
		margin: 0;
		margin-bottom: 18px;
		font-size: 39.6px;
		font-weight: normal;
		font-family: 'corpid-regular';
		line-height: 1;
	}
	h3{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 30px;
	    font-weight: normal;
	    font-family: 'corpid-regular';
	    line-height: 1;
	}
	h4{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 26px;
	    font-weight: normal;
	    font-family: 'corpid-regular';
	    line-height: 1;
	}
	h5{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 20px;
	    font-weight: normal;
	    font-family: 'corpid-regular';
	    line-height: 1;
	}
	h6{
	    margin: 0;
	    margin-bottom: 12px;
	    font-size: 18px;
	    font-weight: normal;
	    font-family: 'corpid-regular';
	    line-height: 1;
	}
	p{
		margin: 0;
		margin-bottom: 25px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}


	strong{
		font-weight: normal;
		font-family: 'corpid-regular';
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #333;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		background: #fff;
		padding: 8px 12px;
	}
	textarea{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #333;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		background: #fff;
		padding: 8px 12px;
		resize:vertical;
		min-height: 128px;
	}
	ul{
		margin: 0;
	    padding: 0;
	    margin-bottom: 33px;
	    list-style-position: inside;
	    list-style-type: none;
	    li{
	    	&:before{
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				background: #e30613;
				position: absolute;
				top: 8px;
				left: 0;
	    	}
	    }
	}
	li{
		padding-left: 28px;
	    position: relative;
	    margin-bottom: 11px;
	}
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 29px;
		line-height: 16px;
		display: inline-block;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0;
    	top: 0;
		width: 16px;
		height: 16px;
		border: 1px solid #ececec;
		background: #fff;
		cursor: pointer;
		z-index: 5;
	}
	input[type="checkbox"]:checked+ label:before{
		// border: 1px solid $base-color;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url(../img/svg/check.svg) center no-repeat;
		background-size: contain;
		width: 20px;
		height: 15px;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	}
}

.checkbox-wrap{
	margin-bottom: 15px;
	position: relative;
	z-index: 1;	
	&:last-child{
		margin-bottom: 0;
	}
}




.main-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		position: absolute;
		width: 40px;
		height: 40px;
		background: #fff;
		border-radius: 50%;
		text-indent: -9999em;
		display: inline-block;
		padding: 0;
		border: 0;
	}
	.slick-dots{
		position: absolute;
	    /* right: 100px; */
	    bottom: 55px;
	    max-width: 1290px;
	    width: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	    text-align: right;
	    padding-right: 117px;
	    margin: 0;
	    li{
	    	display: inline-block;
	    	vertical-align: middle;
	    	padding: 0;
	    	border: 0;
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 50%;
	    	background: #e6e6e6;
	    	transition:all 0.3s ease;
	    	margin: 0;
	    	margin-right: 15px;
	    	cursor: pointer;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	&.slick-active,
	    	&:hover{
	    		background: #e30613;
	    	}
	    	&:before{
	    		display: none;
	    	}
	    	button{
	    		display: none;
	    	}
	    }
	}
}

.main-slider__left{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: 48px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/left.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -12px;
	}
}


.main-slider__right{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: 0;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/right.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -6px;
		top: 50%;
		margin-top: -12px;
	}
}


.main-slider__item{
	// background-color: #b7c2c7;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 463px;
	padding-bottom: 50px;
}


.main-slider__info{
	max-width: 50%;
	color: #fff;
	padding-top: 110px;
	h1{
		 margin-bottom: 12px;
		 line-height: 1.1;
	}
	.btn{
		font-size: 18px;
		    padding: 9px 49px;
	}
}

.main-slider-wrap{
	position: relative;
	// margin-top: 20px;
	&:before{
		content: "";
		background: url(../img/content/main-top.png) left repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		width: 100%;
		height: 18px;
	}
	&:after{
		content: "";
		background: url(../img/content/main-bottom.png) left repeat-x;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 3;
		width: 100%;
		height: 21px;
	}
}
.main-slider-arrows{
	position: absolute;
	bottom: 85px;
	left: 50%;
	width: 100%;
	max-width: 1290px;
	transform: translateX(-50%);
}



.main-slider__txt{
	font-size: 24px;
	margin-bottom: 43px;
}





.main-news{
	background: #f7f7f7;
	    padding: 62px 0 88px;
}

.main-news__title{
	position: relative;
	text-align: center;
	margin-bottom: 42px;
	h2{
		margin-bottom: 0;
	}
}

.main-news__subscribe{
	position: absolute;
	right: 0;
	top: 50%;
	transform:translateY(-50%);
	padding-left: 38px;
	    margin-top: 7px;
	&:before{
		content: "";
		display: inline-block;
		width: 24px;
		height: 16px;
		position: absolute;
		left: 2px;
    	margin-top: 1px;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/b-icon_envelope.svg) no-repeat;
	}
}



.main-news-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-list {
	    margin: 0 -15px;
	}
	.slick-track{
		display: flex;
	}
}


.main-news-slider__item{
	margin: 0 15px;
	height: auto!important;
}

.main-news-slider__inner{
	background: #fff;
	    padding: 43px 33px 39px 33px;
	height: 100%;
	h4{
		margin-bottom: 25px;
	}
}

.main-news-slider__info{
	font-size: 16px;
}

.slider-nav{
	padding-top: 49px;
	display: flex;
    justify-content: center;
    align-items: center;
	.slick-dots{
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    order:2;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    li{
	    	// display: inline-block;
	    	vertical-align: middle;
	    	padding: 0;
	    	border: 0;
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 50%;
	    	background: #e6e6e6;
	    	transition:all 0.3s ease;
	    	margin: 0;
	    	margin-right: 15px;
	    	cursor: pointer;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	&.slick-active,
	    	&:hover{
	    		background: #e30613;
	    	}
	    	&:before{
	    		display: none;
	    	}
	    	button{
	    		display: none;
	    	}
	    }
	}
	.slick-arrow{
		width: 14px;
		height: 24px;
		border: 0;
		padding: 0;
		display: inline-block;
		text-indent: -9999em;
		&.slick-disabled{
			opacity: 0.3;
			pointer-events: none;
		}
	}
	.slick-next{
		background: url(../img/svg/nav-next.svg) center no-repeat;
		order: 3;
		margin-left: 25px;
	}
	.slick-prev{
		background: url(../img/svg/nav-prev.svg) center no-repeat;
		order: 0;
		margin-right: 25px;
	}
	
}


.main-news-slider__bottom{
	display: flex;
	align-items:center;
	padding-top: 38px;
}

.main-news-slider__date{
	font-size: 16px;
	margin-right: 24px;
	// font-family: 'corpid-light';
}

.main-news-slider__cat{
	padding: 3px 16px;
	color: #4c4c4c;
	font-size: 14px;
	background: #f7f7f7;
}

.main-news__all{
	text-align: center;
	padding-top: 36px;
	a{
		color: #1e5bb7;
		&:hover{
			color: $alternate-color;
		}
	}
}

.page-aside{
	// padding-right: 28px;
	margin-top: 4px;
}

.page-aside__item{
	background: #fff;
	position: relative;
	&.active{
		// margin-bottom: -1px;
		// z-index: 1;
		border-bottom: 0!important;
		.page-aside__link{
			color: $alternate-color;
			font-family: 'corpid-regular';
			border-bottom: 0!important;
			&:after{
				content: "";
				display: inline-block;
				width: 14px;
				height: 25px;
				background: url(../img/svg/aside-arrow.svg) no-repeat;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%); 
			}
		}
	}
	&:last-child{
		.page-aside__link{
			border-bottom: 1px solid #f2f2f2;
		}
	}
}

.page-aside__link{
	display: block;
	padding: 22px 20px 22px 0;
	position: relative;
	border-top: 1px solid #f2f2f2;
	color: #4c4c4c;
	&:hover{
		color: #ff0109;
	}
	&.reset-filter{
		border-top: 0;
	}
}

.reset-filter{
	position: relative;
	padding-left: 33px;
	&:before{
		content: "";
		display: inline-block;
		width: 20px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 50%;
		transform:translateY(-50%);
		background: url(../img/svg/b-icon_cancel.svg) no-repeat;
		background-size: contain;
	}
}

.page-aside__submenu{
	font-size: 14px;
	padding-bottom: 27px;
}


.accordeon__item{
	border-bottom: 1px solid #e6e6e6;
	padding: 17px 0;
	&.active{
		.accordeon__link{
			color: #ec1d23;
			&:after{
				transform:rotate(-180deg);
				background: url(../img/svg/b-arr-h.svg) center no-repeat;
			}
		}
	}
	&:first-child{
		border-top: 1px solid #e6e6e6;
	}
}

.accordeon__info{
	display: none;
	padding-top: 17px;
}

.accordeon__link{
	color: #000;
	display: block;
	position: relative;
	padding-right: 30px;
	&:after{
		content: "";
		width: 16px;
		height: 10px;
		background: url(../img/svg/b-arr.svg) center no-repeat;
		position: absolute;
		right: 6px;
		    top: 8px;
		//transition:all 0.1s ease;
	}
	&:hover{
		&:after{
			background: url(../img/svg/b-arr-h.svg) center no-repeat;
		}
	}
}

.accordeon{
	margin-bottom: 30px;
}


.jq-selectbox{
	width: 100%;
    display: block;
    position: relative;
	select{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		height: 100%;
	}
	&.opened{
		.jq-selectbox__trigger-arrow{
			transform: rotate(-180deg);
		}
	}
}


.jq-selectbox__select{
	width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    border: 1px solid #e4e4e4;
        border-bottom-color: #e4e4e4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 39px;
    line-height: 39px;
    padding: 0 30px 0 12px;
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    font: inherit;
    color: inherit;
    background: #fff!important;
    text-shadow:none;
    position: relative;
}
.jq-selectbox__select-text{
	height: 100%;
	line-height: 39px;
	color: #222222;
}

.jq-selectbox__select:active{
	background: #fff;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid #e4e4e4;
}


.jq-selectbox__dropdown ul::-webkit-scrollbar {
    width: 8px;
}
 
.jq-selectbox__dropdown ul::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 5px;
}
 
.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
}


.jq-selectbox__trigger {
    border-left: 0;
    
}

.jq-selectbox__trigger-arrow{
	border: 0;
	width: 15px;
    height: 9px;
    background: url(../img/svg/s-arrow-r.svg) center no-repeat;
    transition:all 0.3s ease;
}


.jq-selectbox__dropdown {
        margin: -1px 0 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font: inherit;
    position: absolute;
    top: 100%!important;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
            
    ul{
    	margin: 0;
    	li{
			padding-left: 12px;
			margin-bottom: 0;
			color: #333;
			background: #fff;
			transition:all 0.3s ease;
			border-bottom: 1px solid #e4e4e4;
			    white-space: normal;
			&:before{
				display: none;
			}
			&:hover{
				background: #f5f5f5;
				color: #333;
			}
    	}
    }
}

.jq-selectbox li.selected{
	background: #f5f5f5;
	color: #333;
}


.jq-selectbox__dropdown ul{
	max-height: 250px;
    overflow-y: auto;
}

.main-actions{
	    padding: 30px 0 78px 0;
}
.main-actions__item{
	display: block;
}

.main-actions__img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 278px;
	margin-bottom: 26px;
}

.main-actions__info{
	h4{
		margin-bottom: 19px;
	}
}

.main-actions__slider{
	.slick-dots{
	    margin: 0;
	    padding: 30px 0 0;
    	width: 100%;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    li{
	    	// display: inline-block;
	    	vertical-align: middle;
	    	padding: 0;
	    	border: 0;
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 50%;
	    	background: #e6e6e6;
	    	transition:all 0.3s ease;
	    	margin: 0;
	    	margin-right: 15px;
	    	cursor: pointer;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	&.slick-active,
	    	&:hover{
	    		background: #e30613;
	    	}
	    	&:before{
	    		display: none;
	    	}
	    	button{
	    		display: none;
	    	}
	    }
	}
}

.main-actions__txt{
	font-size: 16px;
}

.main-hit{
	padding: 70px 0;
}


.main-hit__slider{
	.slick-dots{
	    margin: 0;
	    padding: 30px 0 0;
    	width: 100%;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    li{
	    	// display: inline-block;
	    	vertical-align: middle;
	    	padding: 0;
	    	border: 0;
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 50%;
	    	background: #e6e6e6;
	    	transition:all 0.3s ease;
	    	margin: 0;
	    	margin-right: 15px;
	    	cursor: pointer;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	&.slick-active,
	    	&:hover{
	    		background: #e30613;
	    	}
	    	&:before{
	    		display: none;
	    	}
	    	button{
	    		display: none;
	    	}
	    }
	}
}


.main-hit__inner{
    border: 1px solid #e6e7e8;
    padding-bottom: 44px;
    height: 100%;
    width: 100%;
}

.main-hit__top{
	    padding: 62px 35px 105px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    position: relative;
    background: url(../img/content/info-b.jpg) center no-repeat;
    background-size: 100% 100%;
    h2{
    	margin-bottom: 0;
    	    font-size: 37px;
    }
}

.main-hit__info{
    padding: 0 35px;
    color: #4c4c4c;
    font-size: 15px;
    .count{
    	line-height: 1;
    	font-size: 30px;
    	font-family: 'corpid-regular';
    	text-transform: uppercase;
    }
    ul{
    	margin-bottom: 41px;
    	li{
    		    margin-bottom: 7px;
    		&:before{
				top: 50%;
				margin-top: -3px;
    		}
    	}
    }
    .btn{
    	font-size: 18px;
    	padding: 7px 32px;
    }
}

.main-hit__title{
	font-size: 22px;
	margin-bottom: 16px;
}

.main-hit__add{
	margin-bottom: 24px;
}


.main-hit__price{
	font-size: 18px;
	margin-bottom: 14px;
	.count{
		font-size: 36px;
	}
}

.main-hit__prepayment{
	color: #858585;
	margin-bottom: 31px;
	.count{
		font-size: 24px;
	}
}


.tooltip{
    background: #d1d1d1;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border-radius: 50%;
       font-size: 16px;
    font-family: 'corpid-regular';
    line-height: 20px;
    color: #fff;
    line-height: 22px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.tooltipster-sidetip .tooltipster-box{
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    box-sizing: border-box;
    /* padding: 15px 20px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    text-align: left;
    word-wrap: break-word;
    max-width: 350px;
}

.tooltipster-sidetip .tooltipster-content {
    font-size: 16px;
    color: #333;
    line-height: 1.3;
   	padding: 15px 20px;
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 11px solid transparent;
    border-top-color: #fff!important;
    left: -1px!important;
    top: -2px!important;
}


.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{
    border-top-color: #e4e4e4;
}


.main-services{
	padding: 29px 0 30px;
	.container-fluid{
		max-width: 1350px;
	}
}

.main-services__bg{
	padding: 45px 0;
	background: url(../img/content/services-bg.png) center no-repeat;
	background-size: 100% 100%;
}

.main-services__wrap{
	max-width: 1165px;
	margin: 0 auto; 
}

.main-services__inner{
	background: #fff;
	border: 1px solid #f2f2f2;
    padding: 32px 15px 18px 15px;
    height: 100%;
}

.main-services__col{
	h4{
		text-align: center;
	}
}

.main-services__group{
	padding: 10px;
    overflow: hidden;
}

.main-services__item{
	float: left;
	width: 50%;
	transition: all 200ms linear 0s;
	height: 114px;
	&:nth-child(2n-1){
		border-right: 1px solid #f2f2f2;
	}
	&:nth-child(n+3){
		border-top: 1px solid #f2f2f2;
		padding-top: 3px;
	}
	&:hover,
	&:focus{
		background: #fafafa;
		.main-services__txt{
			color: $alternate-color;
		}
	}
}

.main-services__container{
	padding: 5px 10px;
	width: 100%;
    height: 100%;
    display: flex;
    justify-content:start;
    align-items:center;
    flex-direction:column;
}

.main-services__media{
	// margin-bottom: 10px;
	width: 100%;
	text-align: center;
	img{
		max-width: 60px;
		height: auto;
    	max-height:50px;
    	display: inline-block;
	}
}

.main-services__txt{
	color: #4c4c4c;
	font-size: 16px;
	text-align: center;
	padding: 0 10px;
	transition:color 0.3s ease;
}

.main-links{
	padding: 40px 0;
}

.main-links__wrap{
	display: flex;
	flex-wrap:wrap;
}
.main-links__item{
	display: flex;
	align-items:center;
	width: 25%;
	flex-direction:column;
	justify-content:center;
	border-right: 1px solid #e6e6e6;
	padding: 10px 10px 20px;
	color: #4c4c4c;
	&:last-child{
		border-right: 0;
	}
	&:hover{
		    color: #ff0109;
		.svg-anim{
			stroke-dasharray: 1000;
		    stroke-dashoffset: 1000;
		    -webkit-animation: dash 7s linear alternate infinite;
		    animation: dash 7s linear alternate infinite;
		}
	}
}

.main-links__txt{
	font-size: 17px;
}


.main-links__media{
	display: block;
    padding-bottom: 10px;
    line-height: 80px;
    height: 97px;
    position: relative;
    svg{
    	display: inline-block;
		vertical-align: middle;
		height: 70px;
		max-width: 100%;
		position: relative;
		z-index: 1;
		fill:none;
		stroke:#E6001F;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
    }
}

.svg-anim{
	stroke-dashoffset: 0;
	stroke-dashoffset:0;

}


@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }



.main-tabs{
	padding-bottom: 17px;
}

.tabs {
 
}

.tab-contents {
	padding: 53px 10px 25px;
	h3{
		margin-bottom: 35px;
	}
}

.tab-contents__wrap{
	// display: flex;
	// justify-content:center;
	text-align: center;
}

.tab-button-outer{
	border-bottom: 1px solid #e6e6e6;
	ul{
		display: flex;
		justify-content:center;
		margin-bottom: 0;
		li{
			padding: 0;
			margin: 0;
			margin-right: 43px;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				display: none;
			}
			&.is-active{
				a{
					border-bottom: 2px solid $alternate-color;
					color: $alternate-color;
					// font-family: 'corpid-regular';
				}
			}
			a{
				display: block;
				padding: 24px 0;
				border-bottom: 2px solid transparent;
				font-family: 'corpid-regular';
				color: #4c4c4c;
				font-size: 20px;
				&:hover{
					color: $alternate-color;
				}
			}
		}
	}
}

.tab-select-outer {
  	display: none;
}


.balance-form__inner{
	max-width: 670px;
	margin: 0 auto;
	display: flex;
	align-items:center;
	justify-content: center;
}

.balance-form__item{
	padding-right: 19px;

}

.balance-form__item--number{
	position: relative;
}

.balance-form__item--submit{
	width: 183px;
    padding-right: 0;
    padding-left: 5px;
}

.workarea input.balance-form-input__number{
	width: 273px;
	padding-left: 83px;
	font-size: 24px;
}

.workarea input.balance-form-input__sum{
	width: 150px;
	font-size: 24px;
}

.balance-form__submit{
	width: 100%;
	display: block;
	border-radius: 5px;
	text-align: center;
	padding: 8px 5px;
	border: 0;
	background: #e6e6e6;
	color: #858585;
	font-size: 24px;
	transition:all 0.3s ease;
	&:hover{
		background-color: #cc061a;
		color: #fff;
	}
	&:active{
		background-color: #b30517;
		color: #fff;
	}
}

.balance-form__code{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 66px;
	background: #e6e6e6;
	text-align: center;
	font-size: 24px;
	color: #858585;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 8px 5px;
}

.balance-form__item ::-webkit-input-placeholder {color:#858585;transition:all 0.3s ease;}
.balance-form__item ::-moz-placeholder          {color:#858585;transition:all 0.3s ease;}
.balance-form__item :-moz-placeholder           {color:#858585;transition:all 0.3s ease;}
.balance-form__item :-ms-input-placeholder      {color:#858585;transition:all 0.3s ease;}



.balance-form__item :focus::-webkit-input-placeholder {color: transparent}
.balance-form__item :focus::-moz-placeholder          {color: transparent}
.balance-form__item :focus:-moz-placeholder           {color: transparent}
.balance-form__item :focus:-ms-input-placeholder      {color: transparent}



.info-item{
	display: flex;
	align-items:center;
	margin-bottom: 44px;
}

.info-item--left{
	.info-item__media{
		order:1;
		right: 50%;
		margin-right: 15px;
	}
	.info-item__content{
		order:2;
		margin-left: 50%;
	}
}

.info-item--right{
	.info-item__media{
		order:2;
		left: 50%;
		margin-left: 15px;
	}
	.info-item__content{
		order:1;
		margin-right: 50%;
	}
}



.info-item__media{
	width: 1240px;
    height: 490px;
    position: absolute;
    // right: 50%;
    // margin-right: 12px;
        // opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    overflow: hidden;
    svg{
    	display: block;
		width: 100%;
		height: 100%;
		image{
	  		width: 100%;
	    }
    }
}

.info-item__content{
    padding-left: 15px;
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-item__mask-preload{
	position: absolute;
    left: -9999px;
    top: -9999px;
}

.info-item__img{
	position: absolute;
    right: 0;
    min-height: 100%;
    width: 100%;
}



.info-item__mask{
    background: url(../img/content/img-mask-left.png) no-repeat 0 0;
    // background-size: cover;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.more{
	padding: 70px 0;
	background: #f7f7f7;
	position: relative;
	h2{
		margin-bottom: 47px;
		text-align: center;
	}
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: #f7f7f7;
		position: absolute;
		right: 100%;
		top: 0;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: #f7f7f7;
		position: absolute;
		left: 100%;
		top: 0;
	}
	.accordeon{
		background: #fff;
		padding: 73px 70px 74px 125px;
		margin-bottom: 45px;
	}
	.accordeon__link:after {
	    background: url(../img/svg/b-arr-h.svg) center no-repeat;
	}
	.accordeon__link {
	    font-size: 20px;
	    color: #4c4c4c;
	    font-family: "corpid-regular";
	}
	.accordeon__item {
	    padding: 28px 0 32px 0;
	    position: relative;
	}
}

.accordeon__img{
    position: absolute;
    width: 40px;
    height: 39px;
    left: -60px;
    top: 19px;
	img{
		max-width: 100%;
		height: auto;
	}
}

.more-buttons{
	text-align: center;
	a{
		margin-right: 57px;
		&:last-child{
			margin-right: 0;
		}
	}
	.btn,
	.btn-sec{
		font-size: 20px;
	}
}

.more-download{
	text-align: center;
	margin-bottom: 34px;
}

.more-download__link{
	display: inline-block;
	position: relative;
	padding-left: 32px;
	font-family: 'corpid-regular';
	&:before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 26px;
		position: absolute;
		left: 0;
		top: 50%;
		transform:translateY(-50%);
		background: red;
	}
}

.payments{
	padding-top: 22px;
}

.payments__item{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	background: url(../img/content/paym-bg.png) left bottom repeat-x;
	margin-bottom: 27px;
	align-items: flex-end;
}

.payments__txt{
	color: #adb2b5;
	max-width: 50%;
}
.payments__sum{
	color: #4c4c4c;
	font-size: 20px;
}

.payments__txt,
.payments__sum{
	background: #fff;
	padding-bottom: 3px;
	margin-bottom: -6px;
}

.page-top-image{
	margin-top: -54px;
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
	min-height: 290px;
	&:before{
		content: "";
	    background: url(../img/content/main-top.png) left repeat-x;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 3;
	    width: 100%;
	    height: 18px;
	}
	&:after{
		content: "";
	    background: url(../img/content/main-bottom.png) left repeat-x;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    z-index: 3;
	    width: 100%;
	    height: 21px;
	}
}

.page-top-image__txt{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'corpid-regular';
    font-size: 40px;
}

.actions-filter{
	margin-bottom: 26px;
}
.actions-filter__in{
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.actions-filter__search{
	position: relative;
	padding-right: 32px;
	width: 495px;
	.top-search__input{
		width: 100%;
	}
}

.actions-filter__links{
	a{
		display: inline-block;
		margin-right: 33px;
		color: #4c4c4c;
		font-size: 16px;
		&:hover,
		&.active{
			color: #ff010b;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}


.item{
	color: #4c4c4c;
	margin-bottom: 31px;
}


.item__inner{
	height: 100%;
	border: 1px solid #ededed;
}

.item__img{
	width: 100%;
	height: 214px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.item__info{
	padding: 23px 27px 29px 27px;
}

.item__title{
	color: #4c4c4c;
	font-size: 19px;
	margin-bottom: 13px;
	font-family: 'corpid-regular';
}

.item__txt{
	font-size: 13px;
	line-height: 1.4;
}

.more-wrap{
	text-align: center;
	padding: 26px 0;
}

.page-form{
	padding: 0 60px;
}

.page-form__top{
	max-width: 668px;
	padding-bottom: 17px;
	.input-wrap{
		display: flex;
		align-items: space-between;
		align-items:center;
	}
	.input-wrap__label{
		min-width: 152px;
    	max-width: 152px;
	}
	.input-wrap--textarea{
		align-items:flex-start;
		.input-wrap__label{
			margin-top: 6px;
		}
	}
}

.input-wrap__label{
	font-size: 16px;
	color: #4c4c4c;
}

.input-wrap{
	margin-bottom: 30px;
}

.input-wrap--necessary{
	.input-wrap__label{
		&:after{
			content: "*";
			display: inline-block;
			color: #ff010b;
			margin-left: 5px;
		}
	}
}

.page-form__doc{
	padding-left: 152px;
}

.uploadbutton{
	cursor: pointer;
	font-size: 16px;
	color: #1681b4;
	position: relative;
	padding-left: 40px;
	    margin-top: -6px;
	&:before{
		content: "";
		display: inline-block;
		width: 25px;
		height: 23px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/download.svg) no-repeat;
		background-size: contain;
	}
	.input-file{
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		cursor: pointer;
	}
}

.input-file-text{
	//position: absolute;

}

.page-form__send{
	padding-top: 40px;
	border-top: 1px solid #e5e5e5;
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
	    line-height: 24px;
	    font-size: 16px;
	    &:before,
	    &:after{
	    	top: 4px;
	    }
	}
}


.page-form__msg{
	font-size: 16px;
	color: #303030;
	margin-bottom: 40px;
	span{
		&:before{
			content: "*";
		    display: inline-block;
		    color: #ff010b;
		    margin-right: 5px;
		}
	}
}

@import "components/footer";




@import "components/media";





