.top{
	background: #f7f7f7;
	font-size: 16px;
	color:#858585;
}

.top__wrap{
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.top-links{
	display: flex;
	align-items:center;
	
}

.top-links__item{
	margin-right: 34px;
	&:last-child{
		margin-right: 0;
	}
}


.top-links__item--sub{
	.top-links__link{
		position: relative;
		padding-right: 26px;
		&:after{
			content: "";
			border: 5px solid transparent;
			border-top-color: #adb8c1;
			display: inline-block;
			vertical-align: top;
			position: absolute;
			right: 5px;
			top: 50%;
			margin-top: -1px;
		}
	}
}


.top-links__submenu{
	background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 260px;
    padding: 0 20px;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
        box-shadow: 0 5px 29px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 3;
    display: none;
	
    a{
		border-bottom: 1px solid #f2f2f2;
		line-height: 20px;
		padding: 15px 0;
		display: block;
		position: relative;
		color: gray;
		&:hover{
			color: #e5001f;
		}
    }
    &:before,
    &:after{
		content: "";
		border: 10px solid transparent;
		border-bottom-color: #e4e4e4;
		position: absolute;
		bottom: 100%;
		left: 30px;
    }
    &:after{
		content: "";
		border-bottom-color: #fff;
		margin-bottom: -1px;
    }
}

.top-links__link{
	    padding: 17px 0 16px;
	color: #858585;
	display: inline-block;
	border-bottom: 2px solid transparent;
	&.active{
		color: $alternate-color;
		font-family: 'corpid-regular';
		border-bottom: 2px solid $alternate-color;
	}
}

.top-links__link--all{
	padding-left: 31px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 1px;
		height: 30px;
		background:  #dcdcdc;
		position: absolute;
		left: 0;
		top: 13px;
	}
}


.top-middle{
	a{
		color: #858585;
		&:hover{
			color: #ff0109;
		}
	}
}


.replenish{
	position: relative;
	padding-left: 35px;
	&:before{
		content: "";
		display: inline-block;
		width: 30px;
		height: 26px;
		background: url(../img/svg/b-icon_clientarea-balance.svg) no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 1px;
	}
}

.cabinet-link{
	position: relative;
	padding-left: 32px;
	padding-right: 26px;
	margin-left: 19px;
	display: inline-block;
	&:before{
		content: "";
		display: inline-block;
		width: 27px;
		height: 22px;
		background: url(../img/svg/key.svg) no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&:after{
		content: "";
		border: 5px solid transparent;
		border-top-color: #adb8c1;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		right: 5px;
		top: 50%;
		margin-top: -1px;
	}
}

.cabinet-toggle{
	display: inline-block;
	position: relative;
	.top-links__submenu{
		left: 18px;
		    margin-top: 16px;
	}
}


.page-header{
	
}

.page-header__top{
	display: flex;
	justify-content: space-between;
	    padding: 37px 0 26px;
}

.page-header-links{
   
    // margin-bottom: 14px;
	display: flex;
	justify-content: space-around;
}

.page-header-links__wrap{
	padding: 10px 20px 0;
	border-bottom: 2px solid transparent;
	&.active{
		border-bottom: 2px solid $alternate-color;
	}
}

.page-header-links__item{
	max-width: 220px;
	text-align: center;
	font-size: 17px;
	color: #4c4c4c;
	 padding: 5px 0 20px;
	 display: block;
	     width: 100%;
    height: 100%;
    font-family: "corpid-regular", Arial, sans-serif;
	&:hover{
		color: #ff0109;
	}
}


.page-header-links__icon{
	display: block;
	
	margin-bottom: 3px;
	img{
		max-height: 34px;
		max-width: 60px;
		height: auto;
		
	}
}

.page-header__logo {
    img{
    	display: inline-block;
    	vertical-align: middle;
    }
}
.page-header__slogan {
    display: inline-block;
    vertical-align: middle;
    margin-left: 31px;
    margin-top: 5px;
    letter-spacing: 0.5px;
    color: #e5001f;
    font-size: 18px;
    font-family: 'corpid-regular';
}



.top-search{
	position: relative;
	padding-right: 32px;
	margin-top: -5px;
}
.top-search__submit{
    padding: 0;
    border: 0;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../img/svg/search.svg) no-repeat;
    background-size: cover;
    text-indent: -9999em;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -15px;
}

.top-search__input{
	width: 326px;
	border: 0;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0;
	font-size: 16px;
	font-family: 'corpid-regular';
}



.top-search__input::-webkit-input-placeholder {font-style: italic;color: #858585;}
.top-search__input::-moz-placeholder          {font-style: italic;color: #858585;}
.top-search__input:-moz-placeholder           {font-style: italic;color: #858585;}
.top-search__input:-ms-input-placeholder      {font-style: italic;color: #858585;}

.top-search__input:focus::-webkit-input-placeholder {color: transparent}
.top-search__input:focus::-moz-placeholder          {color: transparent}
.top-search__input:focus:-moz-placeholder           {color: transparent}
.top-search__input:focus:-ms-input-placeholder      {color: transparent}


.top-toggle{
	display: flex;
	align-items:center;
}

.vis-impaired{
	color: #858585;
	padding-left: 37px;
	position: relative;
	margin-left: 21px;
	&:before{
		content: "";
		display: inline-block;
		width: 30px;
		height: 18px;
		position: absolute;
		left: 0;
		top: 50%;
		transform:translateY(-50%);
		background: url(../img/svg/eye.svg) no-repeat;
		background-size: contain;
	}
}

.top-lang{
	display: flex;
}

.top-lang__link{
	color: #858585;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 14px;
	border-right: 1px solid #dcdcdc;
}




.menu-btn{
	display: none;
	float: right;
	position: relative;
	margin-top: 4px;
	z-index: 9;
	&:before{
		content: "";
		display: inline-block;
		width: 1px;
		height: 44px;
		position: absolute;
		left: -30px;
		top: -5px;
		background: #ebebeb;
	}
	&.active{
		margin-top: -15px;
		.burger-icon {
		    background-color: transparent;
		    &:before{
				transform: translateY(8px) rotate(45deg);
		    }
		    &:after{
				transform: translateY(-8px) rotate(-45deg);
		    }
		}
		&:before{
			display: none;
		}
		.burger-txt{
			display: none;
		}
	}
}
.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 32px;
	height: 2px;
	background-color: #adb8c1;
	transition:all 0.3s ease;
	&:before,
	&:after{
		display: block;
		width: 32px;
		height: 2px;
		background-color: #adb8c1;
		transition:all 0.3s ease;
		position: absolute;
		content: "";
	}
	&:before{
		top: -8px;
	}
	&:after{
		top: 8px;
	}
}

.burger-txt{
	color: #adb8c1;
	font-size: 10px;
	text-transform: uppercase;
}



.menu-mobile__bg{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    
    display: none;
}

.menu-mobile {
    position: fixed;
    //display: none;
    z-index: 7;
        background-color: #fff;
    position: fixed;
    right: -340px;
    top: 0;
    bottom: 0;
    min-height: 100%;
    width: 340px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    font-size: 16px;
    &.active{
		right: 0;
    }
    .top-lang__link {
	    padding: 0 11px;
	}
	.vis-impaired {
	    margin-left: 0;
	}
}

.menu-mobile-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 19px  18px;
	display: flex;
	justify-content:space-between;
	z-index: 2;
	border-top: 1px solid #f2f4f6;
	font-size: 16px;
}

.menu-mobile-top-search__link{
	width: 26px;
    height: 26px;
    display: inline-block;
    background: url(../img/svg/search-mob.svg) center no-repeat;
    background-size: contain;
}

.menu-mobile-top-search__form{
	display: none;
	min-width: 100%;
	max-width: 100%;
	    padding: 0 20px 25px 20px;
	    position: relative;
	    &:before{
	    	content: '';
	    	display: inline-block;
			background: #fff;
			width: 7px;
			height: 7px;
			transform: rotate(-45deg);
			position: absolute;
			top: -4px;
			right: 80px;
			box-sizing: border-box;
			pointer-events: none;
			display: block;
			border-top: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
	    }
}

.replenish{
	display: inline-block;
	color: #858585;
	padding-left: 33px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 26px;
		height: 22px;
		background: url(../img/svg/money.svg) center no-repeat;
    	background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform:translateY(-50%);
	}
}

.menu-mobile-top-search{
	
}

.menu-mobile-top{
	border-bottom: 1px solid #f2f4f6;
	
}

.menu-mobile-top__wrap{
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 24px 67px 22px 19px;
	flex-wrap:wrap;
}


.menu-mobile-top-search__input{
	background: #fff;
    width: 100%;
    border-radius: 5px;
    border: medium none;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 32px 5px 10px;
    height: 36px;
    font-size: 16.5px;
    line-height: 22px;
    border: 1px solid #e4e4e4;
}

.menu-mobile-caption{
	padding: 20px;
	color: #e30611;
	text-transform: uppercase;
	font-family: 'corpid-bold';
}


.menu-mobile-wrp{
	max-height: 100vh;
    overflow: auto;
    padding-bottom: 80px;
}

.menu-mobile-wrp::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
 
.menu-mobile-wrp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
.menu-mobile-wrp::-webkit-scrollbar-thumb {
    border-radius: 5px;
        background: rgba(255, 1, 9, 0.4);
}

.menu-mobile-list{
	padding-left: 20px;
}

.menu-mobile__item{
	border-top: 1px solid #f2f2f2;
}

.menu-mobile__link{
	display: flex;
	align-items:center;
	// flex-wrap:wrap;
	    padding: 14px 45px 14px 0;
	color: #4c4c4c;
	text-decoration: none;
}

.menu-mobile__icon{
	width: 25px;
	height: 22px;
	margin-right: 10px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		display: block;
	}
}

.menu-mobile-secondary{
	background: #f2f4f6;
	padding: 10px 20px;
}

.menu-mobile-secondary__link{
	display: block;
	padding: 6px 0;
	color: #4c4c4c;
}

.mobile-submenu{
	padding-left: 35px;
	border-top: 1px solid #f2f2f2;
	display: none;
	.menu-mobile__link{
		border-bottom: 1px solid #f2f2f2;
		&:last-child{
			border-bottom: 0;
		}
	}
}

.menu-mobile__item--submenu{
	>.menu-mobile__link{
		position: relative;
		&:after{
			content: '';
			display: inline-block;
			    width: 9px;
    		height: 17px;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%) rotate(90deg);
			background: url(../img/svg/aside-arrow.svg) no-repeat;
			background-size: contain;
			transition:transform 0.3s ease;
		}
		&.active{
			&:after{
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
}

.has-submenu{
	position: relative;
	&:hover{
		box-shadow: 0 5px 29px rgba(102,102,102,.3);
		background: #fff;
		.page-header-submenu{
			max-height: 500px;
			transition: max-height 0.25s ease-in;
		}
		&:after{
			opacity: 1;
		}
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 24px;
		background: #fff;
		position: absolute;
		left: 0;
		bottom: -12px;
		z-index: 12;
		opacity: 0;
	}
	&.has-submenu--centered{
		.page-header-submenu{

			left: -200px;
		}
	}
	&.has-submenu--right{
		.page-header-submenu{
			left: auto;
			right: 0;
		}
	}
}

.page-header-submenu{
	position: absolute;
    background: #fff;
    top: 100%;
    box-shadow: 0 5px 29px rgba(102,102,102,.3);
        display: flex;
    z-index: 10;
    left: 0;
     max-height: 0;
     overflow: hidden;
     transition: none;
}

.page-header-submenu__col{
	padding: 25px 20px 0 20px;
    border-left: 1px solid #f2f2f2;
    min-width: 200px;
    margin-bottom: 27px;
	&:first-child{
		border-left: 0;
	}
}

.page-header-submenu__link{
	font-family: 'corpid-regular';
	font-size: 18px;
	display: block;
	    margin-bottom: 12px;
}

.page-header-submenu__top{
	font-family: 'corpid-regular';
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}