
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


@media screen and (min-width: 576px){
	.page-footer-menu__list{
		display: block!important;
	}
}



//MEDIA
@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1350px){
	.main-slider__right {
	    right: 20px;
	}
	.main-slider__left {
	    right: 80px;
	}
	.main-slider .slick-dots {
	    padding-right: 145px;
	}
}


@media screen and (max-width: 1200px){
	.container-fluid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.page-footer-menu__item {
	    padding-right: 12px;
	}
	.layout--form .page-content{
		padding-left: 20px;
		padding-right: 20px;
	}
	.more-items {
	    margin: 0 -20px -60px;
	    overflow: hidden;
	    padding: 60px 20px;
	}

}


@media screen and (max-width: 1150px){
	.bottom-menu__item {
	    padding-right: 10px;
	    margin-right: 10px;
	}
	.external__item {
	    padding-right: 0;
	    max-width: 100%;
	    width: 100%;
	    margin-bottom: 10px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.external__wrap {
	    width: 100%;
	}
	.external__txt {
	    padding: 7px 11px;
	}
}


@media screen and (max-width: 1100px){
	.bottom-menu__item {
	    padding-right: 7px;
	    margin-right: 7px;
	    font-size: 14px;
	}
	.page-footer-menu__title {
	    padding-right: 30px;
	}
	.top__wrap {
	    font-size: 14px;
	}
	.top-links__link {
    	padding: 10px 0;
	}
	.top-links__item {
	    margin-right: 15px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.top-links__item--sub .top-links__link,
	.cabinet-link{
	    padding-right: 19px;
	}
	.top-links__link--all {
	    padding-left: 15px;
	}
	.top-links__link--all:before {
	    height: 15px;
	    top: 12px;
	}
	.top-links__item--sub .top-links__link:after,
	.cabinet-link:after{
	    border: 3px solid transparent;
	    right: 8px;
	}
	.main-hit__top {
	    padding: 40px 15px 80px;
	    margin-bottom: 30px;
	}
	.main-hit__info {
	    padding: 0 15px;
	}
	.main-services__inner {
	    padding: 25px 10px 10px 10px;
	}
	.main-services__container{
		padding: 5px;
	}
	.tariff-descr__txt {
	    font-size: 18px;
	}
}

@media screen and (max-width: 1024px){
	
	.bottom {
	    padding: 40px 0;
	}
	.bottom__wrap{
		flex-wrap:wrap;
	}
	.bottom-menu{
		width: 100%;
	}
	.socials__item {
	    margin-bottom: 10px;
	}
	.page-footer-menu__title {
	    padding-right: 0;
	    font-size: 16px;
	    br{
	    	display: none;
	    }
	}
	.page-footer-menu {
	    padding: 40px 0;
	}
	// .layout--aside .page-title {
	//     padding-left: 25%;
	// }
	.page-aside__link {
	    padding: 15px 20px 15px 0;
	    font-size: 16px;
	}
	.top{
		display: none;
	}
	.menu-btn {
	    display: inline-block;
	    vertical-align: middle;
	}
	.top-search,
	.page-header-links{
		display: none;
	}
	.page-header__inner{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.page-header__top {
	    padding: 21px 0;
	}
	.main-hit__price .count,
	.main-hit__info .count{
	    font-size: 24px;
	}
	.main-hit__top h2 {
	    font-size: 30px;
	}
	.tab-button-outer ul li {
	    margin-right: 25px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.main-services__col h4 {
	    font-size: 22px;
	}
	.layout--form .page-content > .container-fluid{
		padding: 40px 20px 60px;
	}
	.page-form{
		padding: 0;
	}
	.step-form {
	    padding: 40px 0 80px;
	}
	.step-data-row .step-data-row__item {
	    margin-right: 25px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.actions-filter__in{
		flex-wrap:wrap;
	}
	.actions-filter__links{
		width: 100%;
    	padding-top: 10px;
	}
	.actions-filter__search {
	    width: 100%;
	}
	.benefits .main-links__wrap {
	    padding: 0;
	}
}


@media screen and (max-width: 992px){
	.main-services__col{
		width: 600px;
    	margin: 0 auto 20px;
	}
	.more .accordeon {
	    padding: 40px 40px 40px 85px;
	    margin-bottom: 40px;
	}
	.more {
	    padding: 40px 0;
	}
	.info-item {
	    flex-wrap: wrap;
	    padding: 0;
	}
	.info-item--left .info-item__media,
	.info-item--right .info-item__media{
		left: 0;
		right: 0;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		position: relative;
	}
	.info-item--left .info-item__content,
	.info-item--right .info-item__content{
		left: 0;
		right: 0;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.info-item__media {
	    height: 430px;
	    margin-bottom: 20px;
	}
	.tariff__table strong {
	    font-size: 16px;
	}
	.tariff-features__how {
	    font-size: 18px;
	}
	.info-item__content{
		padding-left: 0;
		min-height: inherit;
	}
}

@media screen and (max-width: 900px){
	.main-actions__img {
	    height: 180px;
	}
	.tab-button-outer ul li a {
	    padding: 15px 0;
	    font-size: 16px;
	}
	.tab-button-outer ul li {
	    margin-right: 10px;
	}
	.tariff__table th, .tariff__table td{
		padding: 15px; 
	}
}

@media screen and (max-width: 768px){
	
	.workarea h1{
		font-size: 40px;
	}
	.workarea h2{
		font-size: 36px;
	}
	.workarea h3{
	    font-size: 28px;
	}
	.workarea h4{
	    font-size: 22px;
	}
	.workarea h5{
	    font-size: 18px;
	}
	.workarea h6{
	    font-size: 16px;
	}

	.bottom-menu__item,
	.copyright{
	    font-size: 12px;
	}
	.bottom-menu__item {
	    margin-bottom: 5px;
	    display: inline-block;
	}
	.page-footer-menu__title {
	    margin-bottom: 10px;
	}
	.page-footer-menu__link {
	    margin-bottom: 7px;
	}
	.page-footer-menu__item {
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	// .layout--aside .page-title {
	//     padding-left: 0;
	// }
	.page-aside {
	    margin-top: 0;
	    margin-bottom: 30px;
	}
	.main-actions__img {
	    height: 210px;
	}
	.tab-button-outer {
	  	display: none;
	}
	.tab-select-outer{
		display: block;
	}
	.balance-form__inner {
	    flex-wrap: wrap;
	}
	.balance-form__item {
	    padding-right: 0;
	    width: 100%!important;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.workarea input.balance-form-input__number,
	.workarea input.balance-form-input__sum{
	    width: 100%;
	}
	.balance-form__submit {
	    width: auto;
	    padding: 8px 25px;
	    margin: 0 auto;
	}
	.main-links__item {
	    width: 50%;
	    border-right: 0;
	}
	.main-news-slider__bottom{
		flex-wrap:wrap;
		padding-top: 20px;
	}
	.main-news-slider__date {
	    font-size: 16px;
	    margin-right: 0;
	    margin-bottom: 20px;
	    display: block;
	    width: 100%;
	}
	.main-news-slider__inner {
	    padding: 35px 20px;
	}
	.main-news__title{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		margin-bottom: 30px;
	}
	.main-news__subscribe{
		position: static;
		order:2;
	}
	.main-news__title h2{
		order:1;
		display: block;
    	width: 100%;
    	margin-bottom: 20px;
	}
	.main-news {
	    padding: 40px 0;
	}
	.main-actions,
	.main-services,
	.main-links,
	.main-hit{
	    padding: 30px 0;
	}
	.tab-contents {
	    padding: 30px 10px 25px;
	}
	.main-slider__info {
	    max-width: 100%;
	}
	.more .accordeon__link {
	    font-size: 18px;
	}
	.more .accordeon__item{
		padding: 17px 0;
	}
	.more .accordeon{
		padding: 25px 20px 25px 60px;
	}
	.accordeon__img {
	    width: 30px;
	    height: 30px;
	    top: 15px;
	    left: -43px;
	}
	.payments {
	    padding-top: 0;
	}
	.payments__item {
	    flex-wrap: wrap;
	    font-size: 16px;
	}
	.payments__txt, .payments__sum {
	    padding-bottom: 0;
	    margin-bottom: 0;
	    width: 100%;
	}
	.payments__txt{
		margin-bottom: 10px;
		max-width: 100%;
	}
	.payments__item{
		margin-bottom: 20px;
	}
	.payments__item:last-child{
		margin-bottom: 0;
	}
	.payments__sum {
	    font-size: 18px;
	}
	.capcha__img,
	.capcha__input{
	    margin-right: 20px;
	}
	.page-form__submit {
	    padding: 8px 22px;
	}
	.workarea th,
	.workarea td{
	    padding: 15px;
	}
	.tariff-desktop{
		display: none;
	}
	.tariff-mobile{
		display: block;
	}
	.tariff-features{
		flex-wrap:wrap;
	}
	.tariff-features__how{
		width: 100%;
		margin-bottom: 20px;
	}
	.tariff-features .more-download__link{
		width: 100%;
		display: block;
	}
	.tariff-features__inquiry {
	    margin-left: 0;
	    display: block;
	    width: 100%;
	    margin-top: 10px;
	}
	.place {
	    padding: 20px;
	    margin-bottom: 25px;
	}
	.place__input {
	    padding: 11px 62px 11px 29px !important;
	}
	.step-data {
	    padding-top: 0px;
	}
	.step-form__inner {
	    padding: 30px 20px;
	}
	.step-data__item {
	    padding: 25px 0;
	    border-bottom: 1px solid #e5e5e5;
	}
	.step-data-row {
	    flex-wrap: wrap;
	}
	.step-data-row .step-data-row__item {
	    margin-bottom: 20px;
	    // &:last-child{
	    // 	margin-bottom: 0;
	    // }
	}
	.step-data .input-wrap__label {
	    min-width: 180px;
	    max-width: 180px;
	}
	.input-wrap--double {
	    margin-right: 0;
	}
	.step-data .input-wrap {
	    max-width: 100%;
	}
	.input-wrap--tooltip{
		padding-right: 40px;
		position: relative;
		.tooltip{
			margin-left: 0;
			position: absolute;
			right: 0;
			left: auto!important;
		}
	}
	.tariff-descr {
	    padding-bottom: 25px;
	    margin-bottom: 25px;
	    padding-top: 10px;
	}
	.lifehack__inner{
		padding: 20px;
	}
	.main-slider__item--middle .external__txt{
		font-size: 18px;
	}
}


@media screen and (max-width: 600px){
	.main-slider__item--middle .external__item{
		padding: 0;
		margin:0;
		margin-bottom: 10px;
		max-width: 100%;
		min-width: 100%;
		&:last-child{
			margin-bottom: 0;
		} 
	}
	.main-slider__item--middle .external__item:first-child {
	    margin-left: 0;
	}
	.main-slider__item--middle .external__wrap{
		padding: 10px;
	}
	.main-slider__item--middle .external{
		margin-right: 0;
	}
	.main-slider__item--middle .page-top-image__txt {
	    padding: 0;
	    font-size: 32px;
	}
}

@media screen and (max-width: 576px){
	.page-footer-menu__wrap{
		margin: 0;
		
	}
	.page-footer-menu-box{
		.jq-selectbox__select{
			display: block;
		}
	}
	.page-footer-menu__item{
		padding: 0;
	}
	.page-footer-menu__title,
	.page-footer-menu__list{
		display: none;
	}
	.page-footer__external{
		.page-footer-menu__title{
			display: block;
		}
	}
	.page-footer-menu__item {
	    margin-bottom: 0;
	    &:first-child{
	    	.page-footer-menu__list{
	    		display: block;
	    	}
	    }
	}
	.page-footer__external {
	    padding-top: 20px;
	    margin-top: 20px;
	    border-top: 1px solid #b8bcbf;
	}
	.external__item {
	    width: 50%;
	    margin-bottom: 0;
	    padding-right: 10px;
	}
	.external {
	    margin-right: -10px;
	}
	.jq-selectbox li {
	    font-size: 16px;
	}
	.page-header__slogan{
		display: none;
	}
	.tab-contents {
	    position: relative;
	    top: -1px;
	    margin-top: 0;
	}
	.main-services__item {
	    float: none;
	    width: 100%;
	    height: auto;
	    display: block;
	    border: 0!important;
	}
	.main-services__item:nth-child(2n-1) {
	    border-right: 0;
	}
	.main-services__col{
		width: 100%;
	}
	.main-services__container {
	    align-items: flex-start;
	    flex-direction: row;
	    justify-content: flex-start;
	    align-items: center;
	}
	.main-services__media {
	    text-align: left;
	    width: 60px;
	}
	.main-services__txt {
	    text-align: left;
	}
	.more-buttons{
		.btn-sec,
		.btn{
			width: 100%;
		}
	}
	.more-buttons a {
	    margin-right: 0;
	    margin-bottom: 10px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	
	.menu-mobile{
		max-width: 340px;
    	width: calc(100% - 50px);
	}
	.page-form__top .input-wrap {
	    flex-wrap: wrap;
	}
	.page-form__top .input-wrap__label {
	    min-width: 100%;
	    max-width: 100%;
	    margin-bottom: 10px;
	}
	.page-form__doc{
		padding-left: 0;
	}
	.layout--form .page-content {
	    padding: 40px 20px 60px;
	}
	.layout--form .page-title {
	    padding: 0;
	}
	.capcha {
	    flex-wrap: wrap;
	}
	.capcha__inner {
	    width: 100%;
	    margin-bottom: 20px;
	        justify-content: space-around;
	}
	.page-form__submit {
	    width: 100%;
	}
	.map-place-select__item{
		padding-right: 0;
	}
	.map-place-select__item--city,
	.map-place-select__item--street,
	.map-place-select__item--number{
	    width: 100%;
	}
	.map-place-select__half:last-child {
	    margin-right: 0;
	}
	.map-place-select__half,
	.map-place-select__item{
	    width: 100%;
	}
	.step__wrap{
		flex-wrap:wrap;
	}
	.step__item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 45px;
	}
	.step__count:after{
		width: 1px;
		height: 32px;
		left: 50%;
		top: calc(100% + 13px);
	}
	.step__item.active {
	    padding-bottom: 35px;
	    margin: -10px 0 45px 0;
	    .step__count{
	    	&:after{
	    		display: none;
	    	}
	    }
	    &:after{
	    	content: "";
			width: 1px;
		    height: 32px;
		    left: 50%;
		        bottom: -10px;
			background: #adafaf;
			position: absolute;
			display: inline-block;
	    }
	    &:last-child{
	    	&:after{
	    		display: none;
	    	}
	    }
	}
	.step {
	    padding-bottom: 30px;
	}
	.step__item:last-child{
		margin-bottom: 0;
	}
	.step-done {
	    padding: 35px 0 65px;
	}
	.page-form__send input[type="checkbox"]:not(:checked) + label,
	.page-form__send input[type="checkbox"]:checked + label {
	    line-height: 20px;
	    font-size: 14px;
	}
	.step-form__inner p {
	    line-height: 1.3;
	    font-size: 16px;
	}
	.step-form__inner h2 {
	    margin-bottom: 18px;
	}
	.step-data .input-wrap{
		flex-wrap:wrap;
	}
	.step-data .input-wrap__label{
		min-width: 100%;
	    max-width: 100%;
	    margin-bottom: 10px;
	}
	.input-wrap--double{

		.input-wrapper{
		    margin-right: 0;
		    width: 100%;
		    margin-bottom: 30px;
		    &:last-child{
		    	margin-bottom: 0;
		    }
		}
	}
	.input-wrap--tooltip .tooltip {
	    bottom: 7px;
	}
	.layout--index .main-slider__item {
	    min-height: inherit;
	}
	.layout--index .main-slider__img{
		position: relative;
		height: 240px;
		margin-bottom: 20px;
		&:after{
			content: "";
		    background: url(../img/content/main-bottom.png) left repeat-x;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    z-index: 3;
		    width: 100%;
		    height: 21px;
		}
	}
	.main-slider__text{
		color: #000;
	}
	.layout--index .main-slider__info {
	    max-width: 100%;
	    color: #000;
	    padding-top: 0;
	}
	.layout--index .main-slider__txt {
	    margin-bottom: 20px;
	    font-size: 18px;
	}
	.layout--index .main-slider-wrap:after{
		display: none;
	}
	.main-services__bg {
	    padding: 20px 0 0 0;
	}
	.main-slider{
		padding-bottom: 70px;
	}
	.main-slider .slick-dots {
	    padding-right: 0;
	    transform: none;
	    left: 0;
	    text-align: center;
	    bottom: 25px;
	}
	.main-slider-arrows{
		display: none;
	}
	.layout--index .main-slider__item{
		padding-bottom: 0;
	}
	.main-hit__top h2 {
	    font-size: 30px;
	}
	.info-item__media {
	    height: 290px;
	}
	.lifehack__inner {
	    flex-wrap: wrap;
	}
	.lifehack__view {
	    margin-bottom: 20px;
	    padding-right: 0;
	    width: 100%;
	}
	.tariff-tabs {
	    padding-top: 30px;
	}
	.tariff-descr__title {
	    font-size: 14px;
	    min-width: 50%;
	    max-width: 50%;
	    margin-right: 20px;
	}
	.tariff-descr__txt {
	    font-size: 16px;
	}
	.tariff-descr__icon {
	    min-width: 25px;
	    max-width: 25px;
	    margin-right: 15px;
	}
	.benefits {
	    padding: 20px 0 20px;
	}
}
