

/*FONT-FAMILY*/
$default-font: 'corpid-light', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-color: #ffffff;

$default-bg: #ff0109;

/*TEXT-COLOR*/
$base-color: #333333;

$alternate-color: #ff0109;

.t-center{
	text-align: center;
}

.btn{
	background: #e30613;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	    padding: 8px 44px;
	font-size: 24px;
	border-radius: 5px;
	transition:all 0.3s ease;
	&:hover{
		background: #cc061a;
    	color: #fff;
	}
	&:active{
		background-color: #b30517;
    	color: #fff;
	}
}

.btn-sec{
	background: #adb2b5;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	    padding: 8px 44px;
	font-size: 24px;
	border-radius: 5px;
	transition:all 0.3s ease;
	&:hover{
		background: #cc061a;
    	color: #fff;
	}
	&:active{
		background-color: #b30517;
    	color: #fff;
	}
}

.more-btn{
	background: #fff;
	color: #e30611;
	display: inline-block;
	vertical-align: middle;
	    padding: 8px 38px;
	font-size: 18px;
	border-radius: 5px;
	transition:all 0.3s ease;
	border: 1px solid #cccccc;
	font-family: 'corpid-regular';
	&:hover{
		background: #cc061a;
    	color: #fff;
	}
	&:active{
		background-color: #b30517;
    	color: #fff;
	}
}